*.acsm
*.aux
*.out
*.synctex.gz
*.toc
*.log
*.bcf
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.run.xml
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.synctex"
